/* components/CustomCursor.module.css */
.customCursor {
    position: fixed;
    top: -18px;
    left: -18px;
    display: block;
    width: 120px;
    height: 120px;
    pointer-events: none;
    will-change: transform;
    z-index: 998;
    transform: matrix(1, 0, 0, 1, -100, -100);
    opacity: 0;
    mix-blend-mode: difference;
    transition: opacity 0.4s ease, transform 0.15s cubic-bezier(0, 0.89, 0.49, 0.92);
  }
  
  .cursor {
    transform: scale(0.45);
    transition: transform 0.5s ease;
    will-change: transform;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin-top: -40px;
    margin-left: -40px;
    background: #fff;
  }
  
  .customCursorActive .cursor {
    transform: scale(1);
    opacity: 1;
  }
  
  .customCursorActiveImg .cursor {
    transform: scale(1);
    opacity: 1;
    background: #ff0;
  }
  
  body:hover .customCursor {
    opacity: 1;
  }
  
  @media screen and (max-width: 1200px) {
    .customCursor {
      display: none !important;
    }
  }
  