@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
  font-family: Torwelten;
  src: url('../public/fonts/TorweltenMono.ttf');
}

@font-face {
  font-family: Antonio;
  src: url('../public/fonts/Antonio-VariableFont_wght.ttf');
}

@font-face {
  font-family: Source Code Pro;
  src: url('../public/fonts/SourceCodePro-VariableFont_wght.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: #000 !important; /* Set background color to dark gray */
  /* font-family: "Neue Haas Grotesk Display Pro 75 Bold"; */
  font-family: "Antonio", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* width */
::-webkit-scrollbar {
  height: 5px; /* Change height to match the vertical scrollbar */
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer; 
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-black::-webkit-scrollbar-thumb {
    background: black; 
  }

}

.slide-in{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
  transform-origin: bottom;
}

.slide-out{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
  transform-origin: top;
}

.blog-wrapper h1{
  font-size: 4rem;
  line-height: 4rem;
  padding-bottom: 3rem;
  word-wrap: normal;
}

.blog-wrapper h2{
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-style: italic;
}

.blog-wrapper p, li{
  padding-bottom: 0.5rem;
}

.blog-wrapper ul {
  list-style: none; /* Remove default bullets */
  padding-left: 1rem; /* Add indentation */
}

.blog-wrapper ul li::before {
  content: "-"; /* Add dash before list item */
  margin-right: 0.5rem; /* Add space after dash */
  color: inherit; /* Use the same color as the text */
}

.blog-wrapper code:not(pre > code){
  background-color: #262626;
  color: red;
  padding: 0.3rem;
  font-family: "Antonio", sans-serif;
  border-radius: 0.5rem;
}

.blog-wrapper pre > code{
  padding: 2rem;
  font-family: 'Source Code Pro', monospace !important;
  font-size: large;
}


.blog-wrapper a{
  text-decoration: solid;
  text-decoration-color: cadetblue;
}
  
.text-stroke{
  -webkit-text-stroke: 1px white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

@media screen and (max-width: 768px) {
  .blog-wrapper h1{
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding-bottom: 3rem;
    word-wrap: normal;
  }
  
  .blog-wrapper h2{
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-style: italic;
  }
  .blog-wrapper pre > code{
    padding: 2rem;
    font-family: 'Source Code Pro', monospace !important;
    font-size: small;
  }
}

.blog-wrapper table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.blog-wrapper th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}
